/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Apr 18, 2022, 11:28:28 PM
    Author     : elisa
*/

body {
    background-color: #1c87c9;
    text-align: center;
    
}

img {
    padding: 0px;
      border: 4px solid blue;
    border-radius: 10%;
   width: 200px; 
   height: 300px;

}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: lightblue;
  text-align: center;
  
}

table {
  margin-left: auto; 
  margin-right: auto;
}

h2 {
    color: white;
}